In [64]:
#import necessary libraries
import pandas as pd
import json

# Processing Match Results

In [8]:
with open("C:/Users/Prasana/OneDrive/Desktop/2023 worldcup Match Summary.json") as f:
    data = json.load(f)

In [9]:
df_match = pd.DataFrame(data[0]['matchSummary'])
df_match.head()

,team1,team2,winner,margin,ground,matchDate,scorecard
0,India,Australia,Australia,6 wickets,Ahmedabad,"Nov 19, 2023",ODI # 4705
1,Australia,South Africa,Australia,3 wickets,Eden Gardens,"Nov 16, 2023",ODI # 4704
2,India,New Zealand,India,70 runs,Wankhede,"Nov 15, 2023",ODI # 4703
3,India,Netherlands,India,160 runs,Bengaluru,"Nov 12, 2023",ODI # 4702
4,England,Pakistan,England,93 runs,Eden Gardens,"Nov 11, 2023",ODI # 4701

In [65]:
df_match.shape

(48, 7)

In [17]:
## Converting the column name[Scorecard] to match_id to connect with other tables

In [18]:
df_match.rename({'scorecard': 'match_id'}, axis = 1, inplace = True)
df_match.head()

,team1,team2,winner,margin,ground,matchDate,match_id
0,India,Australia,Australia,6 wickets,Ahmedabad,"Nov 19, 2023",ODI # 4705
1,Australia,South Africa,Australia,3 wickets,Eden Gardens,"Nov 16, 2023",ODI # 4704
2,India,New Zealand,India,70 runs,Wankhede,"Nov 15, 2023",ODI # 4703
3,India,Netherlands,India,160 runs,Bengaluru,"Nov 12, 2023",ODI # 4702
4,England,Pakistan,England,93 runs,Eden Gardens,"Nov 11, 2023",ODI # 4701

In [19]:
## Creating a Dictionary to link with other tables

In [20]:
match_ids_dict = {}

for index, row in df_match.iterrows():
    key1 = row['team1'] + ' Vs ' + row['team2']
    key2 = row['team2'] + ' Vs ' + row['team1']
    match_ids_dict[key1] = row['match_id']
    match_ids_dict[key2] = row['match_id']

In [87]:
df_match.to_csv("D:/MBA/Files/match_summary.csv",index= False)

# Processing Batting Summary

In [66]:
df_batting=pd.read_csv("D:/data/batting_summary.csv")

In [67]:
df_batting.head(12)

,match,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR
0,Netherlands Vs New Zealand,1,Devon Conway,c de Leede b van der Merwe,32,40,5,1,80
1,Netherlands Vs New Zealand,2,Will Young,c de Leede b van Meekeren,70,80,7,2,87.5
2,Netherlands Vs New Zealand,3,Rachin Ravindra,c â€ Edwards b van der Merwe,51,51,3,1,100
3,Netherlands Vs New Zealand,4,Daryl Mitchell,b van Meekeren,48,47,5,2,102.12
4,Netherlands Vs New Zealand,5,Tom Latham(c)â€,st â€ Edwards b Dutt,53,46,6,1,115.21
5,Netherlands Vs New Zealand,6,Glenn Phillips,c â€ Edwards b de Leede,4,4,1,0,100
6,Netherlands Vs New Zealand,7,Mark Chapman,c van der Merwe b Dutt,5,13,0,0,38.46
7,Netherlands Vs New Zealand,8,Mitchell Santner,NaN,36,17,3,2,211.76
8,Netherlands Vs New Zealand,9,Matt Henry,NaN,10,4,0,1,250
9,Netherlands Vs New Zealand,1,Vikramjit Singh,b Henry,12,20,1,0,60
10,Netherlands Vs New Zealand,2,Max O'Dowd,lbw b Santner,16,31,2,0,51.61
11,Netherlands Vs New Zealand,3,Colin Ackermann,c Henry b Santner,69,73,5,0,94.52

In [68]:
df_batting.isnull().sum()

match            0
battingPos       0
batsmanName      0
dismissal      148
runs             0
balls            0
4s               0
6s               0
SR               0
dtype: int64

In [75]:
df_batting.fillna('no', inplace=True)

In [78]:
df_batting['Dimissal_status'] = df_batting.dismissal.apply(lambda x: "out" if len(x)>3 else "notout")

In [79]:
df_batting.head(12)

,match,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR,Dimissal_status
0,Netherlands Vs New Zealand,1,Devon Conway,c de Leede b van der Merwe,32,40,5,1,80,out
1,Netherlands Vs New Zealand,2,Will Young,c de Leede b van Meekeren,70,80,7,2,87.5,out
2,Netherlands Vs New Zealand,3,Rachin Ravindra,c â€ Edwards b van der Merwe,51,51,3,1,100,out
3,Netherlands Vs New Zealand,4,Daryl Mitchell,b van Meekeren,48,47,5,2,102.12,out
4,Netherlands Vs New Zealand,5,Tom Latham(c)â€,st â€ Edwards b Dutt,53,46,6,1,115.21,out
5,Netherlands Vs New Zealand,6,Glenn Phillips,c â€ Edwards b de Leede,4,4,1,0,100,out
6,Netherlands Vs New Zealand,7,Mark Chapman,c van der Merwe b Dutt,5,13,0,0,38.46,out
7,Netherlands Vs New Zealand,8,Mitchell Santner,no,36,17,3,2,211.76,notout
8,Netherlands Vs New Zealand,9,Matt Henry,no,10,4,0,1,250,notout
9,Netherlands Vs New Zealand,1,Vikramjit Singh,b Henry,12,20,1,0,60,out
10,Netherlands Vs New Zealand,2,Max O'Dowd,lbw b Santner,16,31,2,0,51.61,out
11,Netherlands Vs New Zealand,3,Colin Ackermann,c Henry b Santner,69,73,5,0,94.52,out

In [80]:
df_batting.drop(columns=["dismissal"], inplace=True)
df_batting.head(10)

,match,battingPos,batsmanName,runs,balls,4s,6s,SR,Dimissal_status
0,Netherlands Vs New Zealand,1,Devon Conway,32,40,5,1,80,out
1,Netherlands Vs New Zealand,2,Will Young,70,80,7,2,87.5,out
2,Netherlands Vs New Zealand,3,Rachin Ravindra,51,51,3,1,100,out
3,Netherlands Vs New Zealand,4,Daryl Mitchell,48,47,5,2,102.12,out
4,Netherlands Vs New Zealand,5,Tom Latham(c)â€,53,46,6,1,115.21,out
5,Netherlands Vs New Zealand,6,Glenn Phillips,4,4,1,0,100,out
6,Netherlands Vs New Zealand,7,Mark Chapman,5,13,0,0,38.46,out
7,Netherlands Vs New Zealand,8,Mitchell Santner,36,17,3,2,211.76,notout
8,Netherlands Vs New Zealand,9,Matt Henry,10,4,0,1,250,notout
9,Netherlands Vs New Zealand,1,Vikramjit Singh,12,20,1,0,60,out

In [81]:
df_batting['match_id'] = df_batting['match'].map(match_ids_dict)

,match,battingPos,batsmanName,runs,balls,4s,6s,SR,Dimissal_status,match_id
0,Netherlands Vs New Zealand,1,Devon Conway,32,40,5,1,80,out,ODI # 4663
1,Netherlands Vs New Zealand,2,Will Young,70,80,7,2,87.5,out,ODI # 4663
2,Netherlands Vs New Zealand,3,Rachin Ravindra,51,51,3,1,100,out,ODI # 4663
3,Netherlands Vs New Zealand,4,Daryl Mitchell,48,47,5,2,102.12,out,ODI # 4663
4,Netherlands Vs New Zealand,5,Tom Latham(c)â€,53,46,6,1,115.21,out,ODI # 4663

In [83]:
df_batting.tail()

,match,battingPos,batsmanName,runs,balls,4s,6s,SR,Dimissal_status,match_id
871,Netherlands Vs Pakistan,7,Saqib Zulfiqar,10,18,1,0,55.55,out,ODI # 4659
872,Netherlands Vs Pakistan,8,Roelof van der Merwe,4,7,0,0,57.14,out,ODI # 4659
873,Netherlands Vs Pakistan,9,Logan van Beek,28,28,3,1,100,notout,ODI # 4659
874,Netherlands Vs Pakistan,10,Aryan Dutt,1,2,0,0,50,out,ODI # 4659
875,Netherlands Vs Pakistan,11,Paul van Meekeren,7,12,1,0,58.33,out,ODI # 4659

In [90]:
df_batting['batsmanName'] = df_batting['batsmanName'].apply(lambda x: x.replace('â€', ''))
df_batting['batsmanName'] = df_batting['batsmanName'].apply(lambda x: x.replace('\xa0', ''))
df_batting.head()

,match,battingPos,batsmanName,runs,balls,4s,6s,SR,Dimissal_status,match_id
0,Netherlands Vs New Zealand,1,Devon Conway,32,40,5,1,80,out,ODI # 4663
1,Netherlands Vs New Zealand,2,Will Young,70,80,7,2,87.5,out,ODI # 4663
2,Netherlands Vs New Zealand,3,Rachin Ravindra,51,51,3,1,100,out,ODI # 4663
3,Netherlands Vs New Zealand,4,Daryl Mitchell,48,47,5,2,102.12,out,ODI # 4663
4,Netherlands Vs New Zealand,5,Tom Latham(c),53,46,6,1,115.21,out,ODI # 4663

In [91]:
df_batting.to_csv("D:/MBA/Files/batting_summary.csv", index = False)

# Bowling Summary

In [88]:
df_bowling=pd.read_csv('D:/data/bowling_summary.csv')

In [89]:
df_bowling.head()

,Unnamed: 0,match,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls
0,0,England Vs Netherlands,Aryan Dutt,10.0,0,67,2,6.70,30,5,3,1,1
1,1,England Vs Netherlands,Logan van Beek,10.0,0,88,2,8.80,25,10,1,10,0
2,2,England Vs Netherlands,Paul van Meekeren,10.0,0,57,1,5.70,28,5,0,5,0
3,3,England Vs Netherlands,Bas de Leede,10.0,0,74,3,7.40,26,5,4,0,0
4,4,England Vs Netherlands,Roelof van der Merwe,3.0,0,22,0,7.33,6,0,2,0,0

In [92]:
df_bowling['match_id'] = df_bowling['match'].map(match_ids_dict)
df_bowling.head()

,Unnamed: 0,match,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls,match_id
0,0,England Vs Netherlands,Aryan Dutt,10.0,0,67,2,6.70,30,5,3,1,1,ODI # 4697
1,1,England Vs Netherlands,Logan van Beek,10.0,0,88,2,8.80,25,10,1,10,0,ODI # 4697
2,2,England Vs Netherlands,Paul van Meekeren,10.0,0,57,1,5.70,28,5,0,5,0,ODI # 4697
3,3,England Vs Netherlands,Bas de Leede,10.0,0,74,3,7.40,26,5,4,0,0,ODI # 4697
4,4,England Vs Netherlands,Roelof van der Merwe,3.0,0,22,0,7.33,6,0,2,0,0,ODI # 4697

In [93]:
df_bowling.tail()

,Unnamed: 0,match,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls,match_id
569,569,Netherlands Vs New Zealand,Matt Henry,8.3,0,40,3,4.7,29,4,0,0,0,ODI # 4663
570,570,Netherlands Vs New Zealand,Mitchell Santner,10.0,0,59,5,5.9,30,4,2,0,0,ODI # 4663
571,571,Netherlands Vs New Zealand,Lockie Ferguson,8.0,0,32,0,4.0,31,5,0,0,0,ODI # 4663
572,572,Netherlands Vs New Zealand,Rachin Ravindra,10.0,0,46,1,4.6,30,3,1,0,1,ODI # 4663
573,573,Netherlands Vs New Zealand,Glenn Phillips,2.0,0,11,0,5.5,2,0,0,0,0,ODI # 4663

In [95]:
df_bowling.to_csv("D:/MBA/Files/bowling_summary.csv", index = False)

# Adding players list to check delimiters and null values

In [96]:
df_players=pd.read_csv('D:/data/Players_list.csv')

In [97]:
df_players.head()

,player_name,team_name,image_of_player,battingStyle,bowlingStyle,playingRole,description
0,Jonny Bairstow,England,,Right-hand bat,Right-arm fast-medium,Wicketkeeper Batter,Jonny Bairstow is an English cricketer known f...
1,Joe Root,England,,Right hand Bat,Right arm Offbreak,Top order Batter,Joe Root is an English cricketer known for his...
2,Jos Buttler,England,,Right hand Bat,,Wicketkeeper Batter,Jos Buttler is an English cricketer known for ...
3,Will Young,New Zealand,,Right hand Bat,Right arm Offbreak,Top order Batter,Will Young is a New Zealand cricketer known fo...
4,Rachin Ravindra,New Zealand,,Left hand Bat,Slow Left arm Orthodox,Top order Batter,Rachin Ravindra is a New Zealand cricketer kno...

In [99]:
df_players[df_players['team_name'] == 'England']

,player_name,team_name,image_of_player,battingStyle,bowlingStyle,playingRole,description
0,Jonny Bairstow,England,,Right-hand bat,Right-arm fast-medium,Wicketkeeper Batter,Jonny Bairstow is an English cricketer known f...
1,Joe Root,England,,Right hand Bat,Right arm Offbreak,Top order Batter,Joe Root is an English cricketer known for his...
2,Jos Buttler,England,,Right hand Bat,,Wicketkeeper Batter,Jos Buttler is an English cricketer known for ...
36,Reece Topley,England,,Left hand Bat,Left arm Fast medium,Bowler,Reece Topley is an English cricketer known for...
52,David Willey,England,,Left hand Bat,Left arm Medium fast,Bowler,David Willey is an English cricketer known for...
69,Dawid Malan,England,NaN,Left hand Bat,Legbreak,Top order Batter,Dawid Malan made a striking entry into interna...
70,Harry Brook,England,NaN,Right hand Bat,Right arm Medium,Batter,"A former England U19s captain, Harry Brook ann..."
71,Moeen Ali,England,NaN,Left hand Bat,Right arm Offbreak,Batting Allrounder,Moeen Ali was tipped for the top long before h...
72,Liam Livingstone,England,NaN,Right hand Bat,Legbreak,Batting Allrounder,The sense that Liam Livingstone is a domineeri...
73,Sam Curran,England,"https://img1.hscicdn.com/image/upload/f_auto,t...",Left hand Bat,Left arm Medium fast,Allrounder,"Sam Curran, younger brother of Tom Curran, his..."
74,Chris Woakes,England,NaN,Right hand Bat,Right arm Fast medium,Allrounder,By the time Chris Woakes returned from England...
75,Adil Rashid,England,NaN,Right hand Bat,Legbreak,Bowler,Adil Rashid did much to set right English cric...
76,Mark Wood,England,NaN,Right hand Bat,Right arm Fast,Bowler,"It looked, for a while, as if Mark Wood would ..."
140,Ben Stokes,England,"https://img1.hscicdn.com/image/upload/f_auto,t...",Left hand Bat,Right arm Fast medium,Allrounder,The great Irish sports writer Con Houlihan use...

In [100]:
df_players.to_csv("D:/MBA/Files/Players_list.csv", index = False)